ACTION=="add", KERNEL=="event*", ATTRS{idVendor}=="0000", ATTRS{idProduct}=="0538", MODE="0666", SYMLINK+="odom"
#ACTION=="add", KERNEL=="mouse*", ATTRS{idVendor}=="0000", ATTRS{idProduct}=="0538", OPTIONS+="ignore_device"
